/*
*
* styles:
*   lato-
*     black, bold, hairline, light, medium, regular, thin
*
*/
@font-face {
  font-family: "lato-black";
  src: url("../fonts/lato/lato-black.eot");
  src: url("../fonts/lato/lato-black.eot?#iefix") format("embedded-opentype"), url("../fonts/lato/lato-black.woff") format("woff"), url("../fonts/lato/lato-black.ttf") format("truetype"), url("../fonts/lato/lato-black.svg#lato-black") format("svg"); }

@font-face {
  font-family: "lato-bold";
  src: url("../fonts/lato/lato-bold.eot");
  src: url("../fonts/lato/lato-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/lato/lato-bold.woff") format("woff"), url("../fonts/lato/lato-bold.ttf") format("truetype"), url("../fonts/lato/lato-bold.svg#lato-bold") format("svg"); }

@font-face {
  font-family: "lato-hairline";
  src: url("../fonts/lato/lato-hairline.eot");
  src: url("../fonts/lato/lato-hairline.eot?#iefix") format("embedded-opentype"), url("../fonts/lato/lato-hairline.woff") format("woff"), url("../fonts/lato/lato-hairline.ttf") format("truetype"), url("../fonts/lato/lato-hairline.svg#lato-hairline") format("svg"); }

@font-face {
  font-family: "lato-light";
  src: url("../fonts/lato/lato-light.eot");
  src: url("../fonts/lato/lato-light.eot?#iefix") format("embedded-opentype"), url("../fonts/lato/lato-light.woff") format("woff"), url("../fonts/lato/lato-light.ttf") format("truetype"), url("../fonts/lato/lato-light.svg#lato-light") format("svg"); }

@font-face {
  font-family: "lato-medium";
  src: url("../fonts/lato/lato-medium.eot");
  src: url("../fonts/lato/lato-medium.eot?#iefix") format("embedded-opentype"), url("../fonts/lato/lato-medium.woff") format("woff"), url("../fonts/lato/lato-medium.ttf") format("truetype"), url("../fonts/lato/lato-medium.svg#lato-medium") format("svg"); }

@font-face {
  font-family: "lato-regular";
  src: url("../fonts/lato/lato-regular.eot");
  src: url("../fonts/lato/lato-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/lato/lato-regular.woff") format("woff"), url("../fonts/lato/lato-regular.ttf") format("truetype"), url("../fonts/lato/lato-regular.svg#lato-regular") format("svg"); }

@font-face {
  font-family: "lato-thin";
  src: url("../fonts/lato/lato-thin.eot");
  src: url("../fonts/lato/lato-thin.eot?#iefix") format("embedded-opentype"), url("../fonts/lato/lato-thin.woff") format("woff"), url("../fonts/lato/lato-thin.ttf") format("truetype"), url("../fonts/lato/lato-thin.svg#lato-thin") format("svg"); }
