@font-face {
  font-family: "unisans-bold";
  src: url("../fonts/unisans/unisans-bold.eot");
  src: url("../fonts/unisans/unisans-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/unisans/unisans-bold.woff") format("woff"), url("../fonts/unisans/unisans-bold.ttf") format("truetype"), url("../fonts/unisans/unisans-bold.svg") format("svg"); }

@font-face {
  font-family: "unisans-bold-italic";
  src: url("../fonts/unisans/unisans-bold-italic.eot");
  src: url("../fonts/unisans/unisans-bold-italic.eot?#iefix") format("embedded-opentype"), url("../fonts/unisans/unisans-bold-italic.woff") format("woff"), url("../fonts/unisans/unisans-bold-italic.ttf") format("truetype"), url("../fonts/unisans/unisans-bold-italic.svg") format("svg"); }

@font-face {
  font-family: "unisans-book";
  src: url("../fonts/unisans/unisans-book.eot");
  src: url("../fonts/unisans/unisans-book.eot?#iefix") format("embedded-opentype"), url("../fonts/unisans/unisans-book.woff") format("woff"), url("../fonts/unisans/unisans-book.ttf") format("truetype"), url("../fonts/unisans/unisans-book.svg") format("svg"); }

@font-face {
  font-family: "unisans-book-italic";
  src: url("../fonts/unisans/unisans-book-italic.eot");
  src: url("../fonts/unisans/unisans-book-italic.eot?#iefix") format("embedded-opentype"), url("../fonts/unisans/unisans-book-italic.woff") format("woff"), url("../fonts/unisans/unisans-book-italic.ttf") format("truetype"), url("../fonts/unisans/unisans-book-italic.svg") format("svg"); }

@font-face {
  font-family: "unisans-heavy";
  src: url("../fonts/unisans/unisans-heavy.eot");
  src: url("../fonts/unisans/unisans-heavy.eot?#iefix") format("embedded-opentype"), url("../fonts/unisans/unisans-heavy.woff") format("woff"), url("../fonts/unisans/unisans-heavy.ttf") format("truetype"), url("../fonts/unisans/unisans-heavy.svg") format("svg"); }

@font-face {
  font-family: "unisans-heavy-italic";
  src: url("../fonts/unisans/unisans-heavy-italic.eot");
  src: url("../fonts/unisans/unisans-heavy-italic.eot?#iefix") format("embedded-opentype"), url("../fonts/unisans/unisans-heavy-italic.woff") format("woff"), url("../fonts/unisans/unisans-heavy-italic.ttf") format("truetype"), url("../fonts/unisans/unisans-heavy-italic.svg") format("svg"); }

@font-face {
  font-family: "unisans-light";
  src: url("../fonts/unisans/unisans-light.eot");
  src: url("../fonts/unisans/unisans-light.eot?#iefix") format("embedded-opentype"), url("../fonts/unisans/unisans-light.woff") format("woff"), url("../fonts/unisans/unisans-light.ttf") format("truetype"), url("../fonts/unisans/unisans-light.svg") format("svg"); }

@font-face {
  font-family: "unisans-light-italic";
  src: url("../fonts/unisans/unisans-light-italic.eot");
  src: url("../fonts/unisans/unisans-light-italic.eot?#iefix") format("embedded-opentype"), url("../fonts/unisans/unisans-light-italic.woff") format("woff"), url("../fonts/unisans/unisans-light-italic.ttf") format("truetype"), url("../fonts/unisans/unisans-light-italic.svg") format("svg"); }

@font-face {
  font-family: "unisans-regular";
  src: url("../fonts/unisans/unisans-regular.eot");
  src: url("../fonts/unisans/unisans-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/unisans/unisans-regular.woff") format("woff"), url("../fonts/unisans/unisans-regular.ttf") format("truetype"), url("../fonts/unisans/unisans-regular.svg") format("svg"); }

@font-face {
  font-family: "unisans-regular-italic";
  src: url("../fonts/unisans/unisans-regular-italic.eot");
  src: url("../fonts/unisans/unisans-regular-italic.eot?#iefix") format("embedded-opentype"), url("../fonts/unisans/unisans-regular-italic.woff") format("woff"), url("../fonts/unisans/unisans-regular-italic.ttf") format("truetype"), url("../fonts/unisans/unisans-regular-italic.svg") format("svg"); }

@font-face {
  font-family: "unisans-semibold";
  src: url("../fonts/unisans/unisans-semibold.eot");
  src: url("../fonts/unisans/unisans-semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/unisans/unisans-semibold.woff") format("woff"), url("../fonts/unisans/unisans-semibold.ttf") format("truetype"), url("../fonts/unisans/unisans-semibold.svg") format("svg"); }

@font-face {
  font-family: "unisans-semibold-italic";
  src: url("../fonts/unisans/unisans-semibold-italic.eot");
  src: url("../fonts/unisans/unisans-semibold-italic.eot?#iefix") format("embedded-opentype"), url("../fonts/unisans/unisans-semibold-italic.woff") format("woff"), url("../fonts/unisans/unisans-semibold-italic.ttf") format("truetype"), url("../fonts/unisans/unisans-semibold-italic.svg") format("svg"); }

@font-face {
  font-family: "unisans-thin";
  src: url("../fonts/unisans/unisans-thin.eot");
  src: url("../fonts/unisans/unisans-thin.eot?#iefix") format("embedded-opentype"), url("../fonts/unisans/unisans-thin.woff") format("woff"), url("../fonts/unisans/unisans-thin.ttf") format("truetype"), url("../fonts/unisans/unisans-thin.svg") format("svg"); }

@font-face {
  font-family: "unisans-thin-italic";
  src: url("../fonts/unisans/unisans-thin-italic.eot");
  src: url("../fonts/unisans/unisans-thin-italic.eot?#iefix") format("embedded-opentype"), url("../fonts/unisans/unisans-thin-italic.woff") format("woff"), url("../fonts/unisans/unisans-thin-italic.ttf") format("truetype"), url("../fonts/unisans/unisans-thin-italic.svg") format("svg"); }
