@font-face {
  font-family: "worksans";
  src: url("../fonts/worksans/worksans.eot");
  src: url("../fonts/worksans/worksans.eot?#iefix") format("embedded-opentype"), url("../fonts/worksans/worksans.woff") format("woff"), url("../fonts/worksans/worksans.ttf") format("truetype"), url("../fonts/worksans/worksans.svg") format("svg"); }

@font-face {
  font-family: "worksans-bold";
  src: url("../fonts/worksans/worksans-bold.eot");
  src: url("../fonts/worksans/worksans-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/worksans/worksans-bold.woff") format("woff"), url("../fonts/worksans/worksans-bold.ttf") format("truetype"), url("../fonts/worksans/worksans-bold.svg") format("svg"); }

@font-face {
  font-family: "worksans-extrabold";
  src: url("../fonts/worksans/worksans-extrabold.eot");
  src: url("../fonts/worksans/worksans-extrabold.eot?#iefix") format("embedded-opentype"), url("../fonts/worksans/worksans-extrabold.woff") format("woff"), url("../fonts/worksans/worksans-extrabold.ttf") format("truetype"), url("../fonts/worksans/worksans-extrabold.svg") format("svg"); }

@font-face {
  font-family: "worksans-extralight";
  src: url("../fonts/worksans/worksans-extralight.eot");
  src: url("../fonts/worksans/worksans-extralight.eot?#iefix") format("embedded-opentype"), url("../fonts/worksans/worksans-extralight.woff") format("woff"), url("../fonts/worksans/worksans-extralight.ttf") format("truetype"), url("../fonts/worksans/worksans-extralight.svg") format("svg"); }

@font-face {
  font-family: "worksans-hairline";
  src: url("../fonts/worksans/worksans-hairline.eot");
  src: url("../fonts/worksans/worksans-hairline.eot?#iefix") format("embedded-opentype"), url("../fonts/worksans/worksans-hairline.woff") format("woff"), url("../fonts/worksans/worksans-hairline.ttf") format("truetype"), url("../fonts/worksans/worksans-hairline.svg") format("svg"); }

@font-face {
  font-family: "worksans-light";
  src: url("../fonts/worksans/worksans-light.eot");
  src: url("../fonts/worksans/worksans-light.eot?#iefix") format("embedded-opentype"), url("../fonts/worksans/worksans-light.woff") format("woff"), url("../fonts/worksans/worksans-light.ttf") format("truetype"), url("../fonts/worksans/worksans-light.svg") format("svg"); }

@font-face {
  font-family: "worksans-medium";
  src: url("../fonts/worksans/worksans-medium.eot");
  src: url("../fonts/worksans/worksans-medium.eot?#iefix") format("embedded-opentype"), url("../fonts/worksans/worksans-medium.woff") format("woff"), url("../fonts/worksans/worksans-medium.ttf") format("truetype"), url("../fonts/worksans/worksans-medium.svg") format("svg"); }

@font-face {
  font-family: "worksans-regular";
  src: url("../fonts/worksans/worksans-regular.eot");
  src: url("../fonts/worksans/worksans-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/worksans/worksans-regular.woff") format("woff"), url("../fonts/worksans/worksans-regular.ttf") format("truetype"), url("../fonts/worksans/worksans-regular.svg") format("svg"); }

@font-face {
  font-family: "worksans-semibold";
  src: url("../fonts/worksans/worksans-semibold.eot");
  src: url("../fonts/worksans/worksans-semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/worksans/worksans-semibold.woff") format("woff"), url("../fonts/worksans/worksans-semibold.ttf") format("truetype"), url("../fonts/worksans/worksans-semibold.svg") format("svg"); }

@font-face {
  font-family: "worksans-thin";
  src: url("../fonts/worksans/worksans-thin.eot");
  src: url("../fonts/worksans/worksans-thin.eot?#iefix") format("embedded-opentype"), url("../fonts/worksans/worksans-thin.woff") format("woff"), url("../fonts/worksans/worksans-thin.ttf") format("truetype"), url("../fonts/worksans/worksans-thin.svg") format("svg"); }
