<html ng-app="app" ng-controller="FontCtrl as font">
  <head>
    <title>Fonts - PSoares</title>
    <link rel="stylesheet" type="text/css" ng-href="../css/{{font.selectedObj.name}}.css">
    <link rel="stylesheet" type="text/css" ng-href="../css/museo.css">
  </head>
  <body>
    <div ng-if="font.dataLoaded">
      <select
        ng-options="option.title for option in font.data track by option.name"
        ng-model="font.selectedObj">
      </select>
      <ul>
        <li ng-repeat="style in font.selectedObj.styles">
          <span ng-if="font.selectedObj.styles.length > 1" ng-bind="font.selectedObj.name + '-' + style" ng-style="{'font-family': font.selectedObj.name + '-' + style}"></span>
          <span ng-if="font.selectedObj.styles.length < 2" ng-bind="font.selectedObj.name" ng-style="{'font-family': font.selectedObj.name}"></span>
        </li>
      </ul>
    </div>
    <p style="font-family: museo-bold">
      teste
    </p>
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
  <script type="text/javascript">
    var app = angular.module('app', []);

    app.controller('FontCtrl', function($scope, $http) {

    var vm = this;
    vm.selected = 'lato';
    vm.selectedObj = {};

    getFont = function() {
      for (var i = 0; i < vm.data.length; i++) {
        if (vm.data[i].name === vm.selected) {
          vm.selectedObj = vm.data[i];
          console.log(vm.selectedObj)
          vm.dataLoaded = true;
        }
      }
    }

    $http.get('https://cdn.rawgit.com/psoaresbj/fonts/master/fonts.json')
         .then(function(res){
            vm.data = res.data.fonts;
            getFont();
          });
    });
  </script>
</html>
